<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.samsung.drawbattle">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/DrawBattle">
        <activity
            android:name=".activities.maingame.MainGameResults"
            android:exported="false" />
        <activity
            android:name=".activities.drawtournament.DrawTournamentResults"
            android:exported="false" />
        <activity
            android:name=".activities.Menu"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.drawtournament.DrawTournamentActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.drawtournament.DrawTournamentRoom"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.drawtournament.DrawTournamentSettings"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.maingame.MainGameActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.maingame.MainGameRoom"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.maingame.MainGameSettings"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.frommenu.ChooseGame"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.frommenu.Saved"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.frommenu.Settings"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.GoogleSingIn"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>